{% extends 'base.html.twig' %}

{% set currentDevice = app.request.attributes.get('_route_params').device %}

{% block title %}
  LeafOS Wiki
{% endblock %}

{% block body %}
  <aside class="navigation">
    <h2>Devices</h2>

    <ul>
      {% for vendor, devices in deviceVendors %}
        <li>
          <a href="#" class="vendor-dropdown" data-vendor="{{ vendor }}">
            <img class="icon" src="{{ asset('assets/images/svg/mobile.svg') }}" alt="" />
            {{ vendor }}
          </a>
          <ul class="dropdown-menu" style="display: none;">
            {% for device in devices %}
              <li>
                <a href="{{ path('leaf_device', { device: device.codename }) }}">{{ device.codename }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </aside>

  <article>
    <div class="banner">
      <div class="container">
        <h1>LeafOS for {{ device.vendor }} {{ device.name }}</h1>
      </div>
    </div>

    <div class="container">
      <div class="device-info">
        <div class="instructions">
          <h2>Downloads</h2>
          <h3>Latest builds</h3>
          <div class="latest-builds">
            {% for build in downloads.latestBuilds %}
              <div class="build-card">
                <div class="title">{{ build.flavor|capitalize }}</div>
                <div class="build-info">
                  <table>
                    <tbody>
                      <tr>
                        <td>Build Date</td>
                        <td>{{ build.datetime|date('d/m/Y') }}</td>
                      </tr>
                      <tr>
                        <td>LeafOS Version</td>
                        <td>{{ build.version }}</td>
                      </tr>
                      <tr>
                        <td>Flavor</td>
                        <td>{{ build.flavor }}</td>
                      </tr>
                      <tr>
                        <td>File size</td>
                        <td>{{ build.size|human_readable_format }}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="center">
                          <a href="{{build.url}}" class="button">Download</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            {% endfor %}
          </div>
          <h3>Archive</h3>
        </div>
        <div class="specs">
          <div class="heading">
            <h2>{{ device.vendor }} {{ device.name }}</h2>
            <p>Released {{ device.release|date('d/m/Y') }}</p>
          </div>
          <img src="{{ asset('assets/images/devices/' ~ device.image) }}" alt="{{ device.name }}" />
          <table>
            <tbody>
              <tr>
                <td>
                  SoC
                </td>
                <td>{{ device.soc }} ({{ device.architecture }})</td>
              </tr>
              <tr>
                <td>
                  CPU
                </td>
                <td>
                  <p>{{ device.cpu_cores }} cores {{ device.cpu }}</p>
                  <p>{{ device.cpu_freq }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  GPU
                </td>
                <td>{{ device.gpu }}</td>
              </tr>
              <tr>
                <td>
                  RAM
                </td>
                <td>{{ device.ram }}</td>
              </tr>
              <tr>
                <td>
                  Storage
                </td>
                <td>
                  <p>{{ device.storage }}</p>
                  {% if device.sdcard is defined %}
                    <p>SD card slot up to {{ device.sdcard.sizeMax }}</p>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  Screen
                </td>
                <td>
                  <ul>
                    <li>{{ device.screen.size }}</li>
                    <li>{{ device.screen.resolution }} ({{ device.screen.density }} PPI)</li>
                    <li>{{ device.screen.technology }}</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  Battery
                </td>
                <td colspan="2">{{ device.battery.removable ? 'Removable' : 'Non-removable' }}
                  {{ device.battery.tech }} {{ device.battery.capacity }} mAh</td>
              </tr>
              <tr>
                <td>
                  Cameras
                </td>
                <td>
                  <ul>
                    {% for camera in device.cameras %}
                      <li>{{ camera.info }} {{ camera.flash != 'None' ? ', ' ~ camera.flash ~ ' flash' : '' }}</li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  Network
                </td>
                <td>
                  <ul>
                    {% for network in device.network %}
                      <li>{{ network }}</li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  WiFi
                </td>
                <td>{{ device.wifi }}</td>
              </tr>
              <tr>
                <td>
                  Bluetooth
                </td>
                <td>
                  {{ device.bluetooth.spec }}
                  {% if device.bluetooth.profiles is defined and device.bluetooth.profiles is not empty %}
                    with{% for profile in device.bluetooth.profiles %}
                      {{ profile }}
                    {% endfor %}
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </artic>
{% endblock %}
