{% set route = app.request.attributes.get('_route') %}
{% set showSidenav = showSidenav|default(false) %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="LeafOS is an AOSP-based custom ROM for select Android devices." />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    {# Site CSS #}
    <link rel="stylesheet" href="{{ asset('assets/normalize.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/app.css') }}" />
    <link rel="canonical" href="{{ path('leaf_home') }}" />
    <meta property="og:title" content="{{ block('title') }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri }}" />
  </head>
  <body>
    <div class="layout">
      {% include '@components/navbar.html.twig' %}
      <main>
        {% block body %}

        {% endblock %}
      </main>
      {% include '@components/footer.html.twig' %}
    </div>
    <script src="{{ asset('js/device_search.js') }}"></script>
  </body>
</html>
